@keyframes magnification {
    from {
        scale: 1;
    }

    to {
        scale: 1.25;
    }
    
}

@keyframes flash {
    from {
        opacity: 0;
    } 
    
    to {
        opacity: 1;
    }
}